body {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.36) 22.8%,
    rgba(253, 122, 4, 0.07) 64.6%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 35px;
  border: 0px solid rgb(147, 98, 147);
  border-radius: 5px;
  background-color: rgba(122, 72, 137, 0.1);
}

.weather-app-wrap {
  max-width: 600px;
  margin: 40px auto;
}

.overview {
  margin-bottom: 30px;
}

h1 {
  color: white;
  font-size: 44px;
  text-shadow: hsl(0, 0%, 0%);
  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(137, 115, 159);
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  text-transform: capitalize;
}

.weather-img {
  width: 90px;
  height: 60px;
}

.units {
  margin-left: 5px;
  margin-top: 10px;
}

.temp-units {
  top: -16px;
  position: relative;
}

.temp {
  font-size: 38px;
}

.seconds {
  text-transform: lowercase;
}
