body {
  background-image: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.26) 22.8%,
    rgba(253, 122, 4, 0.05) 64.6%
  );

  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 40px;
  padding-bottom: 30px;
  border: 0px solid rgb(147, 98, 147);
  border-radius: 5px;
  background-color: rgba(122, 72, 137, 0.12);

  box-shadow: 0 30px 50px rgba(49, 38, 74, 0.14);
}

.weather-app-wrap {
  max-width: 650px;
  margin: 50px auto;
}

.overview {
  margin-bottom: 40px;
}

.source {
  text-align: center;
  font-size: 90%;
  margin-top: 40px;
  line-height: 13px;
}

.open-source {
  color: rgb(212, 59, 212);
  text-decoration: none;
}

.open-source:hover {
  color: rgb(212, 59, 212);
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 44px;
  text-shadow: hsl(0, 57%, 5%);
  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(137, 115, 159);
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

.form-control {
  margin-top: 5px;
  color: rgb(137, 115, 159);
}

::placeholder {
  font-weight: 100;
  font-size: 95%;
  color: rgb(137, 115, 159);
}

.weather-img {
  height: 90px;
  width: 90px;
  margin-top: -17px;
  margin-left: -5px;
}

.units {
  margin-left: 1px;
  margin-top: 10px;
}

.temp-units {
  top: -16px;
  position: relative;
}

.temp-units .active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.temp-units .active:hover {
  text-decoration: none;
}

.temp-units .passive {
  text-decoration: none;
  color: rgb(212, 59, 212);
}

.temp-units .passive:hover {
  text-decoration: none;
}

.temp {
  font-size: 38px;
}

.seconds {
  text-transform: lowercase;
}

.sign {
  font-size: large;
}

.extra {
  line-height: 25px;
}

.sign-extra {
  color: rgb(97, 97, 97);
}

.updated {
  color: rgb(97, 97, 97);
}
