body {
  background-image: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.26) 22.8%,
    rgba(253, 122, 4, 0.05) 64.6%
  );

  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  padding: 30px;
  padding-bottom: 25px;
  border: 0px solid rgb(147, 98, 147);
  border-radius: 8px;
  background-color: rgba(122, 72, 137, 0.12);

  box-shadow: 0 30px 40px rgba(82, 31, 73, 0.18);
}

.inside-border {
  border: 1.2px solid rgba(168, 123, 168, 0.8);
  border-radius: 5px;
  padding: 40px;
}

.weather-app-wrap {
  max-width: 700px;
  margin: 25px auto;
}

.overview {
  margin-bottom: 40px;
}

.source {
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
  line-height: 13px;
}

.open-source {
  color: rgb(212, 59, 212);
  text-decoration: none;
}

.open-source:hover {
  color: rgb(212, 59, 212);
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 44px;
  text-shadow: hsl(0, 57%, 5%);
  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(137, 115, 159);
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}

.form-control {
  margin-top: 5px;
  color: white;
}

::placeholder {
  font-weight: 100;
  font-size: 95%;
  color: rgb(137, 115, 159);
}

.weather-img {
  height: 90px;
  width: 90px;
  margin-top: -17px;
  margin-left: -5px;
}

.units {
  margin-left: 1px;
  margin-top: 10px;
}

.temp-units {
  top: -16px;
  position: relative;
}

.temp-units .active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.temp-units .active:hover {
  text-decoration: none;
}

.temp-units .passive {
  text-decoration: none;
  color: rgb(212, 59, 212);
}

.temp-units .passive:hover {
  text-decoration: none;
}

.temp {
  font-size: 38px;
}

.seconds {
  text-transform: lowercase;
}

.sign {
  font-size: large;
}

.extra {
  line-height: 25px;
  margin-left: 5px;
  margin-top: -4px;
}

.sign-extra {
  color: rgb(97, 97, 97);
}

.updated {
  color: rgb(97, 97, 97);
}

.example-cities {
  text-decoration: none;
  color: rgb(212, 59, 212);
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.example-cities:hover {
  text-decoration: none;
  color: rgb(212, 59, 212);
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.active-city {
  text-decoration: none;
  color: rgb(97, 97, 97);
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 30px;
  cursor: default;
}

.active-city:hover {
  text-decoration: none;
  color: rgb(97, 97, 97);
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.weather-forecast {
  margin-top: 30px;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: rgb(137, 115, 159);
}

.weather-forecast .date {
  font-weight: bold;
}

.weather-forecast .min-temp-forecast {
  opacity: 0.6;
}
